spring:
  data:
    mongodb:
      uri: mongodb://localhost:27017/komis
      database: komis

  main:
    allow-circular-references: true
    allow-bean-definition-overriding: true

server:
  port: 8080